.root {
    font-weight: 700;
}

.heading-1 {
    font-size: 1.5rem;
}

.heading-2 {
    font-size: 1.25rem;
}

.title {
    font-size: 1rem;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}
