.root {
    padding: 32px 25px;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    &-chevron {
        width: 16px;
        height: 16px;

        img {
            vertical-align: top;
        }
    }
}

.navigation > :not(:last-child) {
    margin-right: 4px;
}

.header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 24px;

    &-wrapper {
        align-items: center;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        box-sizing: border-box;
        color: #aeb7e1;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        justify-content: center;
        padding: 8px 12px;
        text-align: center;
    }

    &-wrapper:hover {
        cursor: pointer;
    }

    &-selected {
        background-color: #cfd4ed;
        border: 1px solid #0d28a6;
        color: #0d28a6;
    }
}

.filter > :not(:last-child) {
    margin-right: 16px;
}

.card {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;

    &-wrapper {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 24px;
        width: 100%;
    }

    &-image {
        box-sizing: 'border-box';
        padding: 31px 16px;

        img {
            width: 100%;
        }
    }

    &-label {
        margin-top: 16px;
    }

    &-price {
        margin-top: 8px;
    }

    &-cta {
        column-gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 24px;
    }
}

.card-update,
.card-rent {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    img {
        margin-right: 8px;
    }
}

.audit {
    display: flex;
    flex-direction: column;

    &-form {
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    &-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    &-label {
        margin-left: 8px;
        min-width: 147px;
    }

    &-input {
        min-width: 339px;
    }

    &-cta {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }
}

.audit-form > :not(:last-child) {
    margin-bottom: 16px;
}

.audit-cta > :not(:last-child) {
    margin-right: 16px;
}
