.root {
    max-width: 1200px;
    margin: 128px auto 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color: #0d28a6;
    border-radius: 13px;
    text-align: center;

    h2 {
        margin-bottom: 16px;
    }

    p {
        max-width: 468px;
        margin-bottom: 64px;
    }
}